.catalog {
    width: 100%;
    margin-top: 15px;
    position: relative;
}
.catalogTop{
    width: 100%;
    background-color: #ff6700;
    padding: 3px 0px;
}
.catalogTop h3{
    color: white;
    margin: 3px auto;
    text-align: center;
    position: relative;
}
.tagsLog{
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 25px 10%;
    border-radius: 0px;
}
.tagsLog::before{
    content: "";
    position: absolute;
    width: 80%;
    height: 1px;
    display: block;
    background-color: rgb(208, 208, 208);
}
.waterIcon{
    transform: translateY(2.5px);
    margin-right: 5px;
}
.tagsItem{
    cursor: pointer;
    padding: 0px 20px;
    position: relative;
    border-bottom: 1px solid rgb(222, 222, 222) !important;
}
.tagsLine {
    display: block;
    width: 5px;
    background-color: #ff6700;
    height: 0%;
    position: absolute;
    z-index: 100;
    transition: all 0.3s;
    right: 0px;
    bottom: 50%;
}
.tagsItem:hover{
    background-color: rgba(255, 103, 0, 0.1);
}
.tagsItem:hover .tagsLine{
   height: 100%;
   bottom: 0%;
}
.tagsItem_show{
    background-color: rgba(255, 103, 0, 0.1);
}
.tagsLine_show{
    height: 100%;
   bottom: 0%;
}

.hotLog{
    width: 100%;
    margin-top: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 5px 10%;
    border-radius: 0px;
    position: relative;
}
.hotLog::before{
    content: "";
    position: absolute;
    width: 80%;
    height: 1px;
    display: block;
    top: 60px;
    background-color: rgb(208, 208, 208);
}
.hotA{
    text-decoration: none;
    color: #333;
    transition: none;
}
.hotA1{
    color: red;
    font-weight: 600;
}
.hotA2{
    color: rgb(46, 167, 224);
    font-weight: 600;
}
.hotA3{
    color: rgb(107, 195, 13);
    font-weight: 600;
}
.hotA:hover{
    text-decoration: underline;
    color: #ff6700;
}
.hotItemA{
    width: 100%;
    margin: 15px 0px;
}
.spanNum{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: rgb(208, 208, 208);
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    font-weight: 600;
}
.spanNum1{
    background-color: red;
    color: white;
    font-weight: 800;
}
.spanNum2{
    background-color: rgb(46, 167, 224);
    color: white;
    font-weight: 800;
}
.spanNum3{
    background-color: rgb(107, 195, 13);
    color: white;
    font-weight: 800;
}
.toolLog{
    width: 100%;
    margin-top: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 5px 10%;
    border-radius: 0px;
    position: relative;
}
.toolLog::before{
    content: "";
    position: absolute;
    width: 80%;
    height: 1px;
    display: block;
    top: 60px;
    background-color: rgb(208, 208, 208)
}
.toolA{
    text-decoration: none;
    color: #333;
    transition: none;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.toolA:hover{
    text-decoration: underline;
    color: #ff6700;
}
.toolItemA{
    width: 100%;
    margin: 15px 0px;
}
/* .InRight{
    animation: fadeInRight 1s both;
} */
@keyframes fadeInRight{
    0%{
        opacity: 0;
        transform: translate3d(100%,0,0);
    }
    100%{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}


@media  (min-width: 992px) and (max-width: 1200px){
    .stopHereNow{
        width: 289px;
        border: none;
        border-radius: 0px;
        position: fixed;
        top: 85px;
        
        animation: inTop 1s both;
    }
}


@media  (min-width: 1200px) {
    .stopHereNow{
        width: 300px;
        border: none;
        border-radius: 0px;
        position: fixed;
        top: 85px;
        animation: inTop 1s both;
    }
}
@keyframes inTop{
    0%{
        opacity: 0;
        transform: translate3d(0,-100%,0);
    }
    50%{
        opacity: 1;
    }
}
.site-back-top-basic {
    color: rgba(64, 64, 64, 0.6);
  }
.ant-back-top-icon {
  width: 14px;
  height: 16px;
  margin: 12px auto;
  background: url("../img/fire.png") 30% 30%  no-repeat !important; 
}